body{
  width: 100%;
  height: 100%;
}

.bg-cold {
  background-color: #222831;
}

.bg-cold-2 {
  background-color: #393E46;
}

.bg-cold-3 {
  background-color: #00ADB5;
}

.bg-cold-4 {
  background-color: #EEEEEE;
}

.text-cold {
  color: #222831;
}

.text-cold-2 {
  color: #393E46;
}

.text-cold-3 {
  color: #00ADB5;
}

.text-cold-4 {
  color: #EEEEEE;
}

.border-cold {
  border-color: #222831;
}

.border-cold-2 {
  border-color: #393E46 !important;
}

.border-cold-3 {
  height: 2px;
  border: 2px solid #00ADB5;
}

.border-cold-3-1 {
  height: 2px;
  border: 1px solid #00ADB5;
}

.border-cold-3-start {
  border-left: 1px solid #00ADB5;
}

.border-cold-3-end {
  border-right: 1px solid #00ADB5;
}

.border-cold-3-start-3 {
  border-left: 3px solid #00ADB5;
}

.border-cold-3-end-3 {
  border-right: 3px solid #00ADB5;
}

.border-cold-4 {
  border-color: #EEEEEE;
}

.bg-penguin{
  background-image: url('./features/imgs/gunter_png.png');
  background-size: cover;
  perspective: 1000px;
}

.icon-link {
  width: 18px;
  height: 18px;
  background-image: url('./features/imgs/icons/link_2.png');
  background-size: cover;
}

.fs-7 {
  font-size: 15px;
}