body{
  width: 100%;
  height: 100%;
}

.bg-cold-blue {
  background-color: #222831;
}

.bg-cold-bluegray {
  background-color: #393E46;
}

.bg-cold-light-blue{
  background-color: #00ADB5;
}

.bg-cold-gray{
  background-color: #EEEEEE;
}

.text-cold-blue {
  color: #222831;
}

.text-cold-bluegray {
  color: #393E46;
}

.text-cold-light-blue{
  color: #00ADB5;
}

.text-cold-gray{
  color: #C5DFF8;
}

.border-cold-light-blue{
  border-color: #00ADB5;
}

.border-cold-gray{
  border-color: #EEEEEE;
}

.bg-penguin{
  background-image: url('./features/imgs/gunter_png.png');
  background-size: cover;
}

.icon-link {
  width: 18px;
  height: 18px;
  background-image: url('./features/imgs/icons/link_2.png');
  background-size: cover;
}